image: ubuntu:22.04

stages:
  - build
  - release

before_script:
  - apt-get update && apt-get install -y cmake gcc pkg-config libwebsockets-dev libjansson-dev libunwind-dev

build:
  stage: build
  script:
    - mkdir build
    - cd build
    - cmake ..
    - make
  artifacts:
    paths:
      - build/libaivory-monitor.*
    expire_in: 1 week

release:
  stage: release
  only:
    - /^v\d+\.\d+\.\d+$/
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
    - echo "TODO: Upload artifacts to release"
